$primary: #26a69a;
$primary-light: #64d8cb;
$primary-dark: #00766c;
$primary-text: black;
$primary-text-dark-large: white;

$secondary: #00bcd4;
$secondary-light: #62efff;
$secondary-dark: #008ba3;
$secondary-text: black;
$secondary-text-dark-large: black;

$grey: #e0e0e0;

$base-height: 70px;
$weekday-height: 40px;
$month-height: 70px;
$year-height: 10px;