@import "../../variables/variables.scss";

.container-calendar {
  .anotherMonth {
    background-color: $grey;
  }

  .month {
    height: $month-height;
    color: $primary-text-dark-large;
    background-color: $primary-dark;
  }

  .control {
    color: $primary-text-dark-large;
    cursor: pointer;

    .material-icons{
      font-size: 3em;
    }
  }

  .year {
    height: $year-height;
    font-weight: bold;
    font-size: 0.8em;
  }

  .weekday {
    height: $base-height;
    background-color: $primary-dark;
    color: $primary-text-dark-large;
  }

  .day:hover {
    opacity: 0.6;
    color: $primary-text;
    background-color: $grey;
  }

  .day {
    height: $base-height;
    cursor: pointer;

    .day-text {
      font-size: 0.6em;
    }
  }
}
