<div class="container-calendar" fxLayout="row layout-wrap" fxFlex="auto">
  <div
    class="month control"
    fxLayoutAlign="end center" 
    fxFlex="20"
    (click)="prevMonth()"
  >
    <span class="material-icons"> chevron_left </span>
  </div>
  <div class="month month-name" fxLayoutAlign="center end" fxFlex="60">
    <h2>{{ navDate.format("MMMM") }}</h2>
  </div>
  <div
    class="month control"
    fxLayoutAlign="start center"
    fxFlex="20"
    (click)="nextMonth()">
    <span class="material-icons"> chevron_right </span>
  </div>
  <div class="month year" fxLayoutAlign="center center" fxFlex="100">
    {{ navDate.format("yyyy") }}
  </div>
  <div
    *ngFor="let weekday of weekDaysHeaderArr"
    class="weekday"
    fxFlex="14.285%"
    fxLayoutAlign="center center"
  >
    {{ weekday }}
  </div>
  <div *ngFor="let day of calendarEntries" class="day"
      [ngClass]="{ anotherMonth: isDayInActualMonth(day) }"
      fxFlex="14.285%"
      fxLayoutAlign="center center"
    >
      <div
        *ngIf="day != null; else elseBlock"
        fxLayout="row layout-wrap"
        fxFlex="auto"
        (click)="onDaySelected(day)"
      >
        <div fxFill fxLayoutAlign="center center">
          {{ day.date | amDateFormat: "Do" }}
        </div>
        <div
          fxFill
          fxLayoutAlign="center center"
          class="day-text"
        >
          {{ day.isActualMonth }}
        </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div fxLayout="row layout-wrap" fxFlex="auto">
    <div fxFill>
      Test
    </div>
  </div>
</ng-template>
