$primary: #26c6da;
$primary-light: #6ff9ff;
$primary-dark: #0095a8;
$primary-text: black;
$primary-text-dark-large: white;

$secondary: #ffa726;
$secondary-light: #ffd95b;
$secondary-dark: #c77800;
$secondary-text: black;
$secondary-text-dark-large: white;

$grey: #e0e0e0;

$base-height: 70px;
$weekday-height: 40px;
$month-height: 70px;
$year-height: 10px;

.container-calendar {
  .anotherMonth {
    background-color: $grey;
  }

  .month {
    height: $month-height;
    color: $primary-text-dark-large;
    background-color: $primary-dark;
  }

  .control {
    color: $primary-text-dark-large;
    cursor: pointer;

    .material-icons{
      font-size: 3em;
    }
  }

  .year {
    height: $year-height;
    font-weight: bold;
    font-size: 0.8em;
  }

  .weekday {
    height: $base-height;
    background-color: $primary-dark;
    color: $primary-text-dark-large;
  }

  .day:hover {
    opacity: 0.6;
    color: $primary-text;
    background-color: $grey;
  }

  .day {
    height: $base-height;
    cursor: pointer;

    .day-text {
      font-size: 0.6em;
    }
  }
}
