@import "../../variables/variables.scss";

.calendar {
  padding: 2px;

  .calendar-info{
    background-color: $secondary;
    border-right:$secondary-dark 3px solid;
        
    height: auto;
  }

  .calendar-container {
    height: auto;
  }

  
}
