@import "../../variables/variables.scss";

.calendar {
  padding: 2px;

  .calendar-info{
    background-color: $secondary-dark;
    
    border-right: $secondary 3px solid;
        
    height: auto;
  }

  .calendar-container {
    height: auto;
  }  
}
