<div class="calendar-info-container" fxLayout="row layout-wrap" fxFlex="auto">
  <div class="num-date" fxLayoutAlign="center center" fxFlex="100">
    {{ calendarEntry.date | amDateFormat: "D" }}
  </div>
  <!--num-date -->
  <div class="day" fxLayoutAlign="center center" fxFlex="100">
    {{ calendarEntry.date | amDateFormat: "dddd" }}
  </div>
  <div class="day-info" fxLayoutAlign="center center" fxFlex="100">
    {{ calendarEntry.text }}
  </div>
  <h2>Events:</h2>
  <div class="event-info-list" 
  fxLayoutAlign="start center"
  fxFlex="100">
  <ul class="event-info">
    <li *ngFor="let event of calendarEntry.events">
      {{ event.datetime | amDateFormat: "h:mm" }}
      {{ event.name }}
    </li>

  </ul>
    
     
  
  </div>
  <div class="action-buttons" fxLayoutAlign="center end" fxFlex="100">
<button (click)="onClickToday()">today</button>
<button (click)="onClickClear()">clear</button>
  </div>
</div>

<!--
<div *ngIf="calendarEntry != null">
   hamburger 
  <div></div>

  day 
  <div class="current-events">
    Current Events
    <br />
    <ul>
      <li>{{ calendarEntry.text }}</li>
    </ul>
    <span class="posts">See post events</span>
  </div>
  current-events

  <div class="create-event">Create an Event</div>
   create-event 
  <hr class="event-line" />
  <div class="add-event"><span class="add">+</span></div>
</div>
-->
