<div fxLayout="row layout-wrap" fxFlex="auto">
  <div class="num-date" fxLayoutAlign="center center" fxFlex="100">
    {{ calendarEntry.date | amDateFormat: "D" }}
  </div>
  <!--num-date -->
  <div class="day" fxLayoutAlign="center center" fxFlex="100">
    {{ calendarEntry.date | amDateFormat: "dddd" }}
  </div>
</div>

<!--
<div class="hamburger" fxLayoutAlign="start start" fxFlex="auto">
  <div class="burger-line"></div>
   burger-line 
  <div class="burger-line"></div>
   burger-line 
  <div class="burger-line"></div>
   burger-line 
</div>
<div *ngIf="calendarEntry != null">
   hamburger 
  <div></div>

  day 
  <div class="current-events">
    Current Events
    <br />
    <ul>
      <li>{{ calendarEntry.text }}</li>
    </ul>
    <span class="posts">See post events</span>
  </div>
  current-events

  <div class="create-event">Create an Event</div>
   create-event 
  <hr class="event-line" />
  <div class="add-event"><span class="add">+</span></div>
</div>
-->
