@import "../../variables/variables.scss";

$marginTop: $base-height+($month-height/2);
$dayMargin: ($month-height/2);

$maxHeight: $base-height*3.2;

.calendar-info-container{

  max-height: $maxHeight;

  h2 {
    margin-bottom:0;
  }

  .event-info{
    overflow: auto;
    max-height: $maxHeight;
    width: 100%;
  }

  .num-date {
    font-size: 5em;
    margin-top:$marginTop;
    color: $secondary-text;
  }
  
  .day {
    margin-top: $dayMargin;
    font-size: 30px;
  }  
}
  
  /**
  .current-events {
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    bottom: 30px;
  }
  
  .posts {
    text-decoration: underline dotted;
  }
  .posts:hover{
    color:#27e879 !important;
  }
  
  .create-event {
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
  }
  
  .event-line {
    width: 90%;
  }
  
  .add-event {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: solid white 2px;
    position: relative;
    bottom: 42px;
    left: 260px;
  }
  
  .add {
    font-size: 25px;
    position: relative;
    left: 4px;
    bottom: 10px;
  }
  
  .add:hover, .create-event:hover, .add-event:hover{
    color:#27e879 !important;
    border-color: #27e879 !important;
  }
  
**/